//#define INCL_WINDIALOGS
#include <os2.h>
#include "crazy.h"

ICON IDR_MAIN PRELOAD crazy.ico

MENU IDR_MAIN 
BEGIN
	SUBMENU "~Options", ID_OPTIONS
	BEGIN
		MENUITEM "Co~lors...", 		ID_COLORS
		MENUITEM "~Settings...",		ID_SETTINGS
	        MENUITEM "~Alarm...",	        ID_ALARM
		MENUITEM "Adjust ~Window Size",	ID_WINDOWSIZE
	END
	SUBMENU "~Help", ID_HELP, MS_CONDITIONALCASCADE
	BEGIN
		MENUITEM "Help ~index",				ID_HELP_INDEX
		MENUITEM "~General help",			ID_EXT_HELP
		MENUITEM "~Using help",				ID_DISPLAY_HELP
		MENUITEM "~Keys and Buttons help",				ID_KEYS_HELP
		MENUITEM SEPARATOR
		MENUITEM "~Product information", ID_ABOUT
	END

END


MENU IDR_POPUP
BEGIN

	SUBMENU "~Help", ID_HELP
	BEGIN
		MENUITEM "Help ~index",				ID_HELP_INDEX
		MENUITEM "~General help",			ID_EXT_HELP
		MENUITEM "~Using help",				ID_DISPLAY_HELP
		MENUITEM "~Keys and Buttons help",				ID_KEYS_HELP
		MENUITEM SEPARATOR
		MENUITEM "~Product information", ID_ABOUT
	END

	MENUITEM SEPARATOR
	MENUITEM "Co~lors...", 	ID_COLORS
	MENUITEM "~Settings...",		ID_SETTINGS
        MENUITEM "~Alarm...",	        ID_ALARM
	MENUITEM "Adjust ~Window Size",	ID_WINDOWSIZE
	MENUITEM "~Minimize",	ID_MINIMIZE
	MENUITEM SEPARATOR
	MENUITEM "~Close \a Alt+F4", 		ID_EXIT

END

ACCELTABLE IDR_MAIN
BEGIN
	VK_F4, ID_EXIT, ALT, VIRTUALKEY
END


HELPTABLE HELP_CLOCK
BEGIN
	HELPITEM IDR_MAIN, SUBHELP_CLOCK, EXTHELP_CLOCK
	HELPITEM DLG_COLORS, SUBHELP_COLORS, HELP_OPTIONS_COLORS
	HELPITEM DLG_ABOUT, SUBHELP_ABOUT, PANEL_POSTCARD
	HELPITEM DLG_SETTINGS, SUBHELP_SETTINGS, HELP_OPTIONS_SETTINGS
	HELPITEM DLG_ALARM, SUBHELP_ALARM, HELP_OPTIONS_ALARM
END

HELPSUBTABLE SUBHELP_CLOCK
BEGIN
	HELPSUBITEM ID_OPTIONS, HELP_OPTIONS_MENU
	HELPSUBITEM ID_COLORS, HELP_OPTIONS_COLORS
	HELPSUBITEM ID_SETTINGS, HELP_OPTIONS_SETTINGS
	HELPSUBITEM ID_ALARM, HELP_OPTIONS_ALARM
	HELPSUBITEM ID_WINDOWSIZE, HELP_OPTIONS_MENU
	HELPSUBITEM ID_MINIMIZE, HELP_OPTIONS_MENU
	HELPSUBITEM ID_EXIT, HELP_OPTIONS_MENU

	HELPSUBITEM ID_HELP, HELP_HELP_MENU
	HELPSUBITEM ID_DISPLAY_HELP, HELP_HELP_MENU
	HELPSUBITEM ID_EXT_HELP, HELP_HELP_MENU
	HELPSUBITEM ID_HELP_INDEX, HELP_HELP_MENU
	HELPSUBITEM ID_KEYS_HELP, HELP_HELP_MENU
	HELPSUBITEM ID_ABOUT, HELP_HELP_MENU

	HELPSUBITEM ID_ENLARGED, HELP_SYS_MENU
	HELPSUBITEM ID_ICONFRAME, HELP_SYS_MENU
END
 
HELPSUBTABLE SUBHELP_COLORS
BEGIN
END

HELPSUBTABLE SUBHELP_ABOUT
BEGIN
END

HELPSUBTABLE SUBHELP_SETTINGS
BEGIN
	HELPSUBITEM SET_SECONDS, HELP_OPTIONS_SETTINGS
	HELPSUBITEM SET_24HOUR, HELP_OPTIONS_SETTINGS
	HELPSUBITEM SET_TITLEBAR, HELP_OPTIONS_SETTINGS
	HELPSUBITEM SET_READNUMBERS, HELP_OPTIONS_SETTINGS
END

HELPSUBTABLE SUBHELP_ALARM
BEGIN
END


rcinclude crazy.dlg
